@media (max-width: 767px) {
	.footer {
		flex-direction: column;
		align-items: center;
	}

	.footer-element {
		width: 100%;
	}

	.footer-element__copyright--line {
		align-self: center;
	}

}

@media (min-width: 768px) {
	.footer-element {
		margin-top: 32px;
	}
}

.footer {
	box-shadow: 0px -10px 5px -10px $line-shadow;
	display: flex;
	margin: 10px 4px 21px 4px;
	align-items: flex-end;
	font-size: 14px;
	justify-content: space-between;
	padding-bottom: 19px;
}
.footer-element {
	background-color: $background;
	border: transparent;
	color: $menu-text-color;
}
.footer-element__copyright {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 50px;
}
.footer-element__copyright--line {
	text-align: left;
	white-space: nowrap;
}

.footer-element__police {
	display: flex;
	align-self: flex-start;
	height: 50px;

	@media (max-width: 767px) {
		display: block;
		height: 100%;
		margin-bottom: 16px;
	}
}

.footer-element__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 50px;
	
	@media (max-width: 767px) {
		display: block;
		height: 100%;
		margin-bottom: 16px;
	}

	&--line2 {
		text-align: right;
		align-items: flex-end;
	}
}

@media (min-width: 1366px) {
	.footer {
		padding: 0;
	}
	
	.footer-element__copyright {
		margin-left: 31px;
	}

	.footer-element__info {
		margin-right: 33px;
	}

}
