.prices {
	padding-left: 16px;
	max-width: 100vw;
	overflow: hidden;
}
@media (min-width: 768px) {
	.prices-swiper {
		display: none;
	}
}

.prices-title {
	background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
	color: #7E7E82;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 55px;
	height: 56px;
	box-shadow: 0px -10px 5px -10px $line-shadow;
	margin-top: 33px;
}

.prices-table {
	border-radius: 5px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin-top: 31px;
	@media (max-width: 767px) {
		display: none;
	}
}

.prices-tbody__column {
	border-radius: 6px;
	line-height: 18px;
	white-space: nowrap;
}

.prices-tbody__column:nth-child(4n) {
	text-align: end;
}

.prices-table .prices-thead__column, 
.prices-table .prices-tbody__column {
	padding: 10px 20px;
	font-size: 14px;
	border: none;    
	border-bottom: 1px solid $border-bottom;
	vertical-align: top;
	background-color: $white;
	vertical-align: middle;
}

.prices-table .prices-thead__column {
	color: $menu-text-color;
	background: $background;
	font-weight: $font-regular;
	border: none;    
	text-align: start;    
}

.prices-table 
.prices-tbody__column 
.prices-tbody__column--header {
	background: #337AB7;
	color: #FFF;
	display: none;
	font-size: 11px;
	font-weight: $font-bold;    
	text-transform: uppercase;        
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;    
}

.prices-info__taxe {
	margin-top: 32px;
	width: 100%;
	@media (min-width: 768px) {
		width: 60%;
	}
}
.prices-info__offer {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-bottom: 40px;
	background-color: transparent;
	border-color: transparent;
	padding: 0;
	font-weight: $font-medium;
	line-height: 24px;
}
.prices-info__offer--text {
	margin-bottom: 2px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media (min-width: 768px) {
		flex-direction: row;
		gap: 4px;
	}
}

.prices-info__offer--row {
	display: flex;
	align-items: center;
}


@media(max-width: 767px) {

	.prices-swiper {
		margin-right: 24px;
	}
	
	.wrap-prices {
		margin-top: 16px;
	}

	.prices-element {
		width: 260px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: $white;
		border-radius: 6px;
		border: transparent;

		&__text {
			display: flex;
			flex-direction: column;
			text-align: left;
			margin: 16px 0 0 16px;
			font-weight: $font-medium;
			&--header {
				color: $menu-text-color;
			}

			&:nth-child(3n) {
				margin-bottom: 20px;
			}
		}

		&__icon {
			margin: 0 16px 16px 0;
			align-self: flex-end;
			position: absolute;
			top: 150px;
		}
	}

	.pag-3 {
		margin-top: 26px;
	}



}
@media(max-width: 480px) {
	.prices-table .prices-tbody__column {
			width: 100%;
	}
}
