
@media (max-width: 767px) {
	.button {display: none;}
	.tab-menu {display: none;}
	.header__icon--repair {display: none;}
	.header__icon--status {display: none;}
	.item-content__image--big {display: none;}
	.item-content__image--mid {display: none;}

	.mob-menu {
		background-color: #FFF;
		height: 88px;
		display: flex;
		gap: 16px;
		width: 100%;
	}
	.icon {
		margin-top: auto;
		margin-bottom: auto;
	}

	.header {
		height: 130px;
		background-color: #F8F8F8;
		
		&__title {
			color: #1B1C21;
			display: flex;
			margin-left: auto;
			height: 50px;
			margin-top: 24px;
		}
		&__highlight {
			width: 4px;
			height: 40px;
			background-color: #41F6D7;
			border-radius: 0 20px 20px 0;
		}
		&__caption {
			font-size: 28px;
			margin-left: 24px;
			margin-right: auto;
			margin-top: 0;
			line-height: 40px;
		}
		&__menu {
			height: 82px;
			margin-right: 0;
			margin-bottom: 0;
			margin-left: 24px;
		}
		&__navigation {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	.item {
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		color: #7E7E82;
		border: 2px solid transparent;
		padding-left: 18px;
		padding-right: 12px;
		padding-bottom: 8px;
		padding-top: 8px;
		background-color: #F8F8F8;
		white-space: nowrap;
		outline: none;
	}

	.item-content {
		display: flex;
		background-color: #F8F8F8;
		flex-direction: column;
		gap: 5px;

		&__text {
			width: 90%;
			height: 89px;
			margin-left: 16px;
			line-height: 18px;
			font-size: 14px;
			line-height: 18px;
			overflow: hidden;
			transition: height 1s ease;

			&--par {
				margin-bottom: 10px;
				margin-top: 0;
			}

			&--par2 {
				margin-top: 20px;
			}
		}
	}
	
	.text-open--mobile {
		height: 235px;
		transition: height 1s ease;
	}

	.b-read-more {
		display: none;
	}

	.read-more {
		margin-top: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 200px;
		height: 24px;
		background-color: transparent;
		border-color: transparent;
		&__text {
			border-color: transparent;
			background-color: transparent;
			font-size: 16px;
			height: 24px;
			width: 100px;
			padding-top: 3px;
			white-space: nowrap; // отменяем перенос слов в label
			margin-left: 7px;

		&:hover {
			cursor: pointer;
		}
		}

		&__icon {
			transform: rotate(0deg);
			transition: all 1s;
		}
	}

	.animation--up {
		transform: rotate(-180deg);
		transition: all 1s;
	}

	.item-content__image {
		padding: 0;
		margin-left: 0;
		margin-top: 16px;
	}
}

@media (min-width: 768px) and (max-width: 1365px) {
	.button {display: none;}
	.mob-menu {display: none;}
	.header__icon--repair {display: none;}
	.header__icon--status {display: none;}
	.item-content__image--big {display: none;}
	.item-content__image--sml {display: none;}



	.header, .item-content {
		margin-right: 15px;
	}

	.header {
		height: 130px;
		background-color: #F8F8F8;
		margin-top: 24px;
	}

	.header__title {
		color: #1B1C21;
		display: flex;
		margin-left: auto;
		height: 50px;
	}

	.header__highlight {
		width: 3px;
		height: 40px;
		background-color: #41F6D7;
		border-radius: 0 20px 20px 0;
	}

	.header__caption {
		font-size: 28px;
		margin-left: 24px;
		margin-right: auto;
		margin-top: 0;
		line-height: 40px;
	}

	.header__menu {
		height: 82px;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 24px;
	}

	.header__navigation {
		display: flex;
		flex-wrap: nowrap;
		overflow: auto;
		}

		.header__navigation::-webkit-scrollbar {
			display: none;
		}

		.item {
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: #7E7E82;
			border: 2px solid transparent;
			padding-left: 18px;
			padding-right: 12px;
			padding-bottom: 8px;
			padding-top: 8px;
			background-color: #F8F8F8;
			white-space: nowrap;
			outline: none;
		}

		
	.item-content {
		display: flex;
		flex-direction: column;
		background-color: #F8F8F8;
	}

	.item-content__text {
		width: 50%;
		height: 160px;
		margin-left: 24px;
		line-height: 20px;
		font-size: 14px;
		line-height: 18px;
		height: 140px;
		overflow: hidden;
		transition: height 1s ease;
	}

	.text-open--tablet {
		height: 220px;
		transition: height 1s ease;
	}

	.read-more {
		margin-top: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 200px;
		height: 24px;
		background-color: transparent;
		border-color: transparent;
		&__text {
			border-color: transparent;
			background-color: transparent;
			font-size: 16px;
			height: 24px;
			width: 100px;
			padding-top: 3px;
			white-space: nowrap; // отменяем перенос слов в label
			margin-left: 7px;
		&:hover {
			cursor: pointer;
		}
		}
		&__icon {
			transform: rotate(0deg);
			transition: all 1s;
		}
		.animation--up {
			transform: rotate(-180deg);
			transition: all 1s;
		}
	}

	.b-read-more {
		display: none;
	}

	.item-content__image--mid {
		align-self: center;
		padding: 0;
		position: absolute;
		margin-left: 26em
	}
	
	.item-content__text--par {
		margin-bottom: 10px;
		margin-left: 0;
		margin-top: 0;
	}
	
	.item-content__text--par-2 {
		margin-top: 30px;
	}

}

@media (min-width: 1366px) {
	.tab-menu,.mob-menu {display: none;}

	
	.header {
		width: 1096px;
		height: 130px;
		background-color: #F8F8F8;
		padding-top: 26px;

		&__item {
			border: transparent;
		}

		&__title {
			color: #1B1C21;
			display: flex;
			margin-left: auto;
			flex-wrap: nowrap;
			height: 50px;
		}

		&__highlight {
			width: 3px;
			height: 40px;
			background-color: #41F6D7;
			border-radius: 2px;
		}

		&__caption {
			font-size: 28px;
			margin-left: 32px;
			margin-right: auto;
			margin-top: 0;
			line-height: 40px;
		}

		&__menu {
			width: 1063px;
			height: 82px;
			margin-right: 0;
			margin-bottom: 0;
			margin-left: 32px;
		}

		&__navigation {
			display: flex;
			flex-wrap: wrap;
			overflow: auto;
			}
	}
	
	.button {
		font-weight: $font-medium;
		border: none;
		margin-bottom: auto;
		background-color: transparent;
		display: flex;
		align-items: center;
		cursor: pointer;
		}

	.header__button--call {
		margin-left: 32px;
	}
	
	.header__button--icon {
		margin-left: 8px;

		margin-bottom: auto;
	}
	
	.item {
		font-size: 16px;
		font-weight: $font-medium;
		line-height: 24px;
		color: #7E7E82;
		border: 2px solid transparent;
		padding: 8px 12px 8px 18px;
		background-color: #F8F8F8;
		outline: none;
	}

	.item-content {
		
		width: 1096px;
		display: flex;
		flex-wrap: wrap;
		background-color: #F8F8F8;
		margin-top: 50px;
		
		
		&__text {
			width: 490px;
			height: 190px;
			margin-left: 35px;
			line-height: 20px;
			margin-top: 19px;
			// overflow: hidden;

			&--par {
				margin-bottom: 10px;
				margin-left: 0;
				margin-top: 0;
				font-weight: $font-regular;
			}

			&--par2 {
				margin-top: 30px;
			}
		}

		&__image {
			&--big {
				width: 531px;
				padding: 0;
				margin-left: 36px;
				align-self: flex-start;
			}
			&--mid {display: none;}
			&--sml {display: none;}
		}
	}

	.read-more {
		display: none;
	}

	.b-read-more {
		margin-top: 16px;
		display: flex;
		align-items: center;
		font-weight: $font-medium;
		padding: 0;
		width: 200px;
		height: 24px;
		background-color: transparent;
		border-color: transparent;

		&__text {
			border-color: transparent;
			background-color: transparent;
			font-size: 16px;
			height: 24px;
			width: 100px;
			padding-top: 3px;
			white-space: nowrap; // отменяем перенос слов в label
			margin-left: 7px;

			&:hover {
				cursor: pointer;
			}
		}

		&__icon {
			transform: rotate(0deg);
			transition: all 1s;
		}
	}
}

.header__item:hover {
	border: 2px solid $border-color;
	border-radius: 6px;
	background-color: $white;
	color: $main-text-color;
	text-shadow: 0 1px 2px rgba(66, 22, 22, 0.25);
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

