html {
  box-sizing: border-box;
	height: 100%;
	background-color: #F8F8F8;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus	{
  outline: 2px solid transparent;
}

body {
  margin: 0;
  font-family: $font-family;
  color: $main-text-color;
  background-color: $background-dark;
  scroll-behavior: smooth;
	line-height: 20px;
	margin-top: 88px;
	@media (min-width: 1366px) {
		margin-top: 0px;
		overflow-x: hidden;
	}

}



a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $gray;
}

input:focus,
textarea:focus {
  outline: none;
}

.is--hidden {
  display: none !important;
}

.btn--reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
}

.error {
  border: 2px var(--error-red) solid !important;
}

.services {
  width: 100%;
  margin: 0 auto;
	background-color: $background;
	

	@media (min-width: 1366px) {
		display: flex;
		flex-wrap: nowrap;
		width: 50%;
		justify-content: center;
	}

	&__site-content {
		background-color: $background;
		max-width: 1120px;
		filter: blur(0px);
		transition: .3s;
	}

	&__side-menu {
		background-color: $white;
	}
}

.blur-effect {
	transition: .3s;
	filter: blur(10px);
}

.blur-effect--call {
	transition: .3s;
	filter: blur(12px);
}

.blur-effect--feedback {
	transition: .3s;
	filter: blur(12px);
}